.login_container{
    -fx-background-color: #EEEEEE;
}
/* Logo container */
.login_logo_container{
    -fx-background-color: #132A13;
    -fx-alignment: center;
}

.login_logo_container Text{
    -fx-font-size: 2em;
    -fx-text-fill: #FFFFFF;
}

.login_logo_container FontAwesomeIcomView{
    -fx-fill: #ECF30E;
}

/*Account selector box style*/
.account_selector{
    -fx-background-color: #ECF39E;
}
.account_selector .Label{
    -fx-text-fill: #132A13;
    -fx-font-size: 1.1em;
}

.account_selector .arrow{
    -fx-background-color: #132A13;
}

#choice-box-pop-up-menu{
    -fx-background-color: #ECF39E;
}


/*Login form style*/
#login-prompt-text{

}

.login_form_container{
    -fx-spacing: 15;
    -fx-alignment: top_left;
}
.login_logo_container Label{
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.input_field {
    -fx-background-color: #FFFFFF;
    -fx-pref-height: 35;
    -fx-font-size: 1.1em;
    -fx-effect: dropshadow(gaussian, #000000, 10, 0, 0, 0);
}


.button {
    -fx-background-color: #132A13;
    -fx-pref-width: 350;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
    -fx-text-fill: #FFFFFF;
}

.input_field Button:hover{
    -fx-cursor: hand;

}
.error_lbl{
    -fx-text-fill: #FF0000;

}